@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/**/*';

.fi-fo-split .items-stretch > div > section.fi-section {
    @apply h-full;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.fi-fo-wizard-step .fi-ta-content-header {
    @apply hidden;
}

.fi-fo-wizard-step .fi-ta-ctn {
    @apply rounded-none ring-0;
}

.fi-ta-content-header:not(:has(*)) {
    @apply sr-only;
}

.fi-ta-record[data-row-select-listener] {
    @apply cursor-pointer;
}

.fi-badge.fi-color-primary > .fi-icon {
    @apply text-primary-400;
}
